<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<context:component-scan base-package="com.spring.biz"></context:component-scan>
	<bean id="tv" class="com.springbook.biz.LgTV"></bean>
	<bean id="sony" class="com.springbook.biz.SonySpeaker"></bean>
	<!-- <bean id="tv" class="com.springbook.biz.SamsungTV" p:speaker-ref="sony" p:price="270" init-method="initMethod" destroy-method="destroyMethod" scope="singleton"> -->
		<!-- <property name="speaker" ref="sony"></property>
		<property name="price" value="27000000"></property> -->
	<!-- </bean> -->
	<!-- <bean id="sony" class="com.springbook.biz.SonySpeaker"></bean>
	<bean id="apple" class="com.springbook.biz.AppleSpeaker"></bean> -->
	
	<!-- <bean id="collectionBean" class="com.spring.ioc.injection.CollectionBean">
		<property name="addressList">
			<list>
				<value>서울시 강남구 역삼동.</value>
				<value>서울시 성동구 행당동.</value>
			</list>
			<set value-type="java.lang.String">
				<value>서울시 강남구 역삼동.</value>
				<value>서울시 성동구 성수동.</value>
				<value>서울시 성동구 성수동.</value>
			</set>
		</property>
	</bean> -->
</beans>
